<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ this.owner }} / {{ this.repoName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="bookmark()">
        <ion-icon slot="start" [name]="this.githubService.isBookmark(this.owner, this.repoName) ? 'star' : 'star-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="commits.length > 0">
  <ion-list *ngFor="let commit of commits">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="commit.author.avatarUrl">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <ion-badge color="primary">{{ commit.abbreviatedOid }}</ion-badge>
        {{ commit.message }}
        <ion-note>
           {{ commit.author.name }} | {{ commit.committedDate | date: 'medium' }} | files changed: {{ commit.changedFiles }} | additions: {{ commit.additions }} | deletions: {{ commit.deletions }}
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="commitsMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more commits...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
