<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Bookmarks</ion-label>
    </ion-tab-button>
  </ion-tab-bar>



</ion-tabs>
