<ion-header>
  <ion-toolbar>
    <ion-title>
      Bookmarks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="githubService.bookmarks.size > 0">
  <ion-list *ngFor="let repo of githubService.bookmarks | keyvalue">
    <ion-item
      routerDirection="forward"
      [routerLink]="['/', 'repo', repo.value.owner, repo.value.name ]"
    >
      <ion-avatar slot="start">
        <img [src]="repo.value.avatarUrl">
      </ion-avatar>
      <ion-label>{{ repo.key }} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

