<ion-header>
  <ion-toolbar>
    <!--
    <ion-title>
      Search GitHub
    </ion-title>
    -->
    <ion-searchbar
      placeholder="Search Repos on GitHub"
      showCancelButton="always"
      [(ngModel)]="searchTerm"
      (ionInput)="searchRepo($event)"
      (ionChange)="searchRepo($event)"
      >
    </ion-searchbar>
    <!-- <ion-button (click)="searchRepo($event)">Search</ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="repos.length > 0">
  <ion-list *ngFor="let repo of repos">
  <!-- <ion-list *ngFor="let repo of (searchedRepos | async); index as position"> -->
  <!-- <ion-list *ngFor="let repo of githubService.searchedRepos | async"> -->
  <!-- <ion-list *ngFor="let repo of githubService.searchQuery | async | select: 'search.edges'"> -->
    <!-- <ion-item [routerLink]="['/', 'repo', repo.node.owner.login, repo.node.name]"> -->
      <!-- 
      [routerLink]="['/', 'repo', repo.node.owner.login, repo.node.name]"
      routerDirection="forward"
      href="repo/{{ repo.node.owner.login }}/{{ repo.node.name }}"
      [routerLink]="['/', 'tabs', 'tab2']"

      routerDirection="forward"
      href="tabs/tab2"

      (click)="detail()"
      -->
    <ion-item
      routerDirection="forward"
      [routerLink]="['/', 'repo', repo.node.owner.login, repo.node.name ]"
    >
      <ion-avatar slot="start">
        <img [src]="repo.node.owner.avatarUrl">
      </ion-avatar>
      <ion-label>{{ repo.node.owner.login }} / {{ repo.node.name }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="searchRepoMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more results...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

